@fanduel:registry=https://fanduel.pe.jfrog.io/artifactory/api/npm/fd-npm/

# read auth
//fanduel.pe.jfrog.io/artifactory/api/npm/fd-npm/:email=${FD_NPM_USERNAME}
//fanduel.pe.jfrog.io/artifactory/api/npm/fd-npm/:_auth=${FD_NPM_AUTH_TOKEN}

always-auth=true
engine-strict=true
